---
import Layout from "../layouts/Layout.astro";
import MarcoMobile from "../components/MarcoMobile.astro";
import Boton from "../components/dynamic/Boton.astro";
---

<Layout>
  <MarcoMobile>
    <section
      class="w-full h-full bg-white border-2 rounded-3xl bg-cover flex justify-center items-center-safe"
    >
      <Boton color="bg-red-600" icon="fas fa-arrow-left" link="/contacto" />
    </section>
  </MarcoMobile>
</Layout>
