<main
  class="[@media(min-width:426px)]:border-4 rounded-4xl w-[425px] bg-transparent"
>
  <section
    class="[@media(min-width:426px)]:border-8 overflow-hidden border-amber-50 rounded-4xl bg-transparent w-full min-h-[100svh]"
  >
    <slot />
  </section>
</main>
